/*************************************/
/************** MOBILE ***************/
/*************************************/

:root {
  background-color: #ebebeb;
  font-family: 'Inter', sans-serif;
  --dirty-white: #ebebeb;
  --white: #fff;
  --black: #272727;
  --gray: #868686;
  --highlight: #EEDC82;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: sticky;
}

.doc-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.doc-margin {
  margin-left: -3%;
  margin-right: -3%;
}

.bold {
    font-weight: bold;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.bg-dirtywhite {
  background-color: var(--dirty-white);
}

.bg-white {
  background-color: var(--white);
}

.horizontal-list {
  visibility: visible;
}

a {
color: var(--black);
text-decoration: none;

}

a:hover {
  text-decoration: underline;
  font-weight: lighter;
  font-style: italic;
}

#intro-section {
  position: relative;
  z-index: 9;
  height: 110vh;
  margin-top: -1%;
  padding-top: 14%;
}

#main-header, #logo {
  z-index: 99;
}

.header {
  width: 100%;
  margin-top: -1%;
  padding-bottom: 2rem;
  position: fixed;
  z-index: 99;
}

#burger-nav {
  position: fixed;
  width: 4.2rem;
  height: 4.2rem;
  background-color: var(--black);
  top: 0;
  right: 24px;
  border-radius: 100%;
}

.header, #burger-nav {
  margin-top: 4rem;
}

#intro {
  padding-top: 5rem;
  font-size: 2rem;
  width: 90%;
}

.highlighter-2 {
  background-color: var(--highlight);
  border-radius: 20% 12% 1% 24%;
  padding: 0 12px 5px 10px;
}

.down-btn {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#intro-btns {
  padding-top: 2rem;
  width: 100%;
}

.btn-text {
  text-transform: uppercase;
  border-radius: 50px;
}

.primary-btn, .secondary-btn, .collab-btn {
  padding: 1rem 1.2rem;
  transition: all 0.5s;
}

.primary-btn span, .secondary-btn span, .collab-btn span {
display: inline-block;
position: relative;
transition: 0.5s;
}

.primary-btn span::after {
content: '\274F';
}

.secondary-btn span::after {
content: '\2197';
}

.collab-btn span::after {
content: '\276F';
}

.primary-btn span::after {
top: -3px;
margin-right: -18px;
}

.secondary-btn span::after {
top: 0px;
margin-right: -14px;
}

.collab-btn span::after {
top: -1.5px;
margin-right: -15px;
}

.primary-btn span::after, .secondary-btn span::after, .collab-btn span::after {
position: absolute;
opacity: 0;
right: -5px;
transition: 0.5s;
}

.primary-btn:hover, .secondary-btn:hover, .collab-btn:hover {
padding-right: 35px;
cursor: pointer;
}

.primary-btn:hover span::after, .secondary-btn:hover span::after, .collab-btn:hover span::after {
opacity: 1;
right: 0;
}

.primary-btn, .collab-btn {
border: 1px solid var(--dirty-white);
color: var(--white);
background-color: var(--black);
margin-right: 0.4rem;
}

.secondary-btn {
border: 1px solid var(--black);
color: var(--black);
background-color: var(--dirty-white);
}

.down-btn {
scale: 0.3;
justify-content: center;
align-items: center;
transition: 0.5s;
}

.down-btn:hover {
padding-bottom: 30px;
transition: 0.5s;
}

.rounded {
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}

.drop-shadow {
filter: drop-shadow(0 4rem 7rem rgba(39, 39, 39, 0.3));
}

.proj-1 {
  width: auto;
  max-width: 800px;
  max-height: 367px;
  z-index: 2;
  height: auto;
  margin-left: -40%;
}

#proj-container {
  margin-top: -10%;
}

.proj-title, .proj-num {
  position: absolute;
  width: 70%;
}

.proj-title {
  font-size: 2rem;
  margin-left: 4rem;
}

.proj-num {
  font-size: 7rem;
  color: var(--black);
  opacity: 20%;
}

.proj-text {
  position: absolute;
  padding: 20rem 0;
  z-index: 999;
}

.proj-description {
  padding-top: 10rem;
  padding-bottom: 1rem;
  width: 80%;
}

.proj-btn {
  color: var(--black);
  font-size: 1.2rem;
  border: none;
  }

.proj-description, .proj-btn {
  margin-left: 1.5rem;
}

.project-header {
  position: relative;
}

.proj-2 {
  padding-top: 35rem;
  width: 100%;
}

.proj-text-2, .proj-text-4 {
  z-index: 9;
}

.proj-text-2 {
  margin-top: 33rem;
  width: 100%;
}

.proj-3 {
  width: 130%;
  margin-left: -16%;
  margin-top: 30rem;
}

.proj-text-3 {
  margin-top: 35rem;
}

.proj-4 {
  padding-top: 0;
}

.proj-text-4 {
  margin-top: 30rem;
}

.proj-5 {
  padding-bottom: 35rem;
  margin-top: 8rem;
}

#proj-text-5 {
  padding-top: 25rem;
}

.magic {
  padding-top: 3rem;
  font-size: 1.9rem;
  text-align: center;
}

#socials {
  filter: opacity(0.7);
  padding-top: 30%;
  line-height: 30px;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

.links {
  padding-right: 10px;
}

.copyright {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.copyright-center {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.copyright, .copyright-center, .copyright-about {
  font-size: 12px;
  filter: opacity(0.5);
}

.copyright-about {
  margin-left: 20%;
}

#collab {
  padding-top: 10%;
  width: 100%;
  flex-direction: column;
}

#collab-title, #about-title {
  padding-top: 10rem;
  font-size: 3rem;
}

.collab-desc, .about-desc {
  line-height: 2rem;
  width: 90%;
  padding-bottom: 5rem;
}

.collab-tools {
  width: 100%;
  flex-direction: column;
  
}

.label-contact {
  color: var(--gray);
  padding-bottom: 5px;
  padding-top: 20px;
  
}

.tools {
  width: 100%;
}

#contact-closer {
  justify-content: center;
  align-items: center;
}


.display-img {
  visibility: hidden;
  
}

.tool-list {
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0;
  width: 50%;
}

#about-intro {
  position: relative;
  margin-top: -1%;
  z-index: 5;
  height: 130vh;
  
}

.about {
  position: absolute;
  z-index: 9;
  width: 90%;
}

#experience {
  z-index: 5;
  background-color: var(--white);
  margin-top: -25%;
  padding-top: 15%;
  padding-bottom: 4rem;
}

table {
  font-size: 0.8rem;
  padding-left: 2rem;
}

td {
  width: 100%;
  padding-left: 0.1rem;
  padding-bottom: 1rem;
  padding-top: 1.1rem;
  padding-right: 2rem;
}

.exp-small {
  visibility: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {

} */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {

.doc-padding {
  padding-left: 80px;
  padding-right: 80px;
}

.doc-margin {
  margin-left: -2%;
  margin-right: -2%;
}

.horizontal-list {
  visibility: visible;
  justify-content: flex-end;
  gap: 30px;
  width: 30%;
  text-transform: uppercase;
}

#intro-section {
  height: 100vh;
  padding-top: 15%;
}

.header {
  width: 220vh;
}

#burger-nav {
  visibility: hidden;
}

#intro {
  font-size: 3rem;
}

.down-btn {
  width: 300px;
}

.primary-btn, .secondary-btn, .collab-btn {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.secondary-btn {
  margin-left: 1.3rem;
}

.rounded {
border-bottom-left-radius: 100px;
border-bottom-right-radius: 100px;
}

.proj-1 {
  max-width: 1100px;
  max-height: 667px;
  margin-left: -35%;
}

#proj-container {
  margin-top: -10%;
}

.proj-title {
  font-size: 3rem;
  margin-left: 7.5rem;
  margin-top: 1rem;
}

.proj-num {
  font-size: 8rem;
}

.proj-text {
  padding: 45rem 0;
}

.proj-description {
  padding-bottom: 2rem;
  line-height: 1.5rem;
}

.proj-description, .proj-text-2 {
  width: 90%;
}

.proj-btn {
  font-size: 1.4rem;
  }

.proj-2 {
  padding-top: 45rem;
  margin-left: 0;
}

.proj-3 {
  width: 100%;
  margin-top: 65%;
  margin-left: 0;
}

.proj-text-3 {
  margin-top: 15rem;
}

.proj-4 {
  margin-top: -15rem;
  margin-left: 2rem;
}

.proj-text-4 {
  margin-top: 25rem;
}

.proj-5 {
  margin-top: 10rem;
}

#proj-text-5 {
  padding-top: 50rem;
}

.magic {
  padding-top: 8rem;
  font-size: 3.8rem;
}

#socials {
  line-height: 35px;
  font-size: 1rem;
}

.links {
  padding-right: 15px;
  z-index: 99;
}

.copyright {
  justify-content: flex-end;
  padding-top: 0;
  margin-top: -4.3%;
  z-index: 9;
  margin-left: 50%;
}

.copyright, .copyright-center, .copyright-about {
  font-size: 12px;
  filter: opacity(0.5);
}

.copyright-about {
  margin-left: 10%;
}

#collab {
  padding-top: 10%;
  width: 80%;
}

#collab-title, #about-title {
  padding-top: 10rem;
  font-size: 3rem;
}

.collab-desc, .about-desc {
  padding-bottom: 3rem;
}

.collab-tools {
  flex-direction: row;
}

.tools {
  padding-left: 10%;
}

.tool-list {
  padding: 0 10px;
}

#contact-closer {
  justify-content: center;
  align-items: center;
}


.display-img {
  visibility: hidden;
  
}

#about-intro {
  position: relative;
  margin-top: -1%;
  z-index: 5;
  height: 100vh;
  
}

#experience {
  margin-top: -25%;
  padding-top: 15%;
  padding-bottom: 4rem;
}

table {
  font-size: 0.8rem;
}

td {
  width: 25%;
  padding-top: 0.7rem;
  padding-left: 0rem;
  padding-right: 0;
}

.exp-small {
  visibility: visible;
  font-size: 0.7rem;
  margin-right: 0%;
}

.exp-type {
  width: 20%;
}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

/*:root {
  background-color: #ebebeb;
  font-family: 'Inter', sans-serif;
  --dirty-white: #ebebeb;
  --white: #fff;
  --black: #272727;
  --gray: #868686;
  --highlight: #EEDC82;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: sticky;
}

.doc-padding {
  padding-left: 150px;
  padding-right: 150px;
}

.doc-margin {
  margin-left: -1%;
  margin-right: -1%;
}

.bold {
    font-weight: bold;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.bg-dirtywhite {
  background-color: var(--dirty-white);
}

.bg-white {
  background-color: var(--white);
}

.horizontal-list {
  justify-content: flex-end;
  gap: 30px;
  width: 30%;
  text-transform: uppercase;
}

a {
color: var(--black);
text-decoration: none;

}

a:hover {
  text-decoration: underline;
  font-weight: lighter;
  font-style: italic;
}

.btn-text {
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 50px;
}

.proj-btn {
  color: var(--black);
  font-size: 1.2rem;
  border: none;
}

.primary-btn:active, .proj-btn:active, .secondary-btn:active {
  transform: translateY(4px);
}

.primary-btn, .secondary-btn, .collab-btn {
    padding: 15px 20px;
    margin: 5px;
    transition: all 0.5s;
}

.primary-btn span, .secondary-btn span, .collab-btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.primary-btn span::after {
  content: '\274F';
}

.secondary-btn span::after {
  content: '\2197';
}

.collab-btn span::after {
  content: '\276F';
}

.primary-btn span::after {
  top: -3px;
  margin-right: -18px;
}

.secondary-btn span::after {
  top: 0px;
  margin-right: -14px;
}

.collab-btn span::after {
  top: -1.5px;
  margin-right: -15px;
}

.primary-btn span::after, .secondary-btn span::after, .collab-btn span::after {
  position: absolute;
  opacity: 0;
  right: -5px;
  transition: 0.5s;
}

.primary-btn:hover, .secondary-btn:hover, .collab-btn:hover {
  padding-right: 35px;
  cursor: pointer;
}

.primary-btn:hover span::after, .secondary-btn:hover span::after, .collab-btn:hover span::after {
  opacity: 1;
  right: 0;
}

.primary-btn, .collab-btn {
  border: 1px solid var(--dirty-white);
  color: var(--white);
  background-color: var(--black);
}

.secondary-btn {
  border: 1px solid var(--black);
  color: var(--black);
  background-color: var(--dirty-white);
}

.down-btn {
  scale: 0.3;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.down-btn:hover {
  padding-bottom: 30px;
  transition: 0.5s;
}

.rounded {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.drop-shadow {
  filter: drop-shadow(0 4rem 7rem rgba(39, 39, 39, 0.3));
}


#intro-section {
  position: relative;
  z-index: 9;
  height: 100vh;
  margin-top: -1%;
  padding-top: 14%;
}

#main-header, #logo {
  z-index: 99;
}

.header {
  width: 81%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -1%;
  padding-top: 4rem;
  justify-content: space-between;
  padding-bottom: 2rem;
  position: fixed;
  z-index: 99;
}

#burger-nav {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: var(--black);
  border-radius: 100%;
  display: none;
}

#intro {
    font-size: 3.5rem;
    width: 70%;
}

.highlighter-2 {
  background-color: var(--highlight);
  border-radius: 20% 12% 1% 24%;
  padding: 0 12px 5px 10px;
}

.down-btn {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-top: 50px;
}

#proj-container {
  margin-top: -15%;
}

#project {
  background-color: var(--white);
}

.first-proj {
  padding-top: 100px;
}

.project-header {
  position: relative;
}

.proj-title, .proj-num {
  position: absolute;
  width: 60%;
}

.proj-title {
  font-size: 2.5rem;
  margin-left: 8rem;
}

.proj-num {
  font-size: 9rem;
  color: var(--black);
  opacity: 20%;
}

.proj-text {
  position: absolute;
  padding: 20% 0;
  width: 50%;
  z-index: 999;
}

.proj-description {
  padding-top: 12rem;
  padding-bottom: 3rem;
  width: 80%;
}

.proj-img {
  padding-left: 18rem;
}

.proj-img2 {
  padding-right: 9rem;
}

.proj-img {
  width: 25%;
  height: auto;
  padding-top: 15%;
  padding-bottom: 300px;
}

.proj-1 {
  width: auto;
  max-width: 1000px;
  max-height: 667px;
  z-index: 2;
  height: auto;
  margin-left: auto;
  margin-right: -12%;
}

.project-2, .proj-text-3, .proj-text-5 {
  padding-top: 10rem;
}

.proj-2 {
  padding-top: 20%;
  width: 55%;
  margin-left: -10%;
}

.proj-text-2, .proj-text-4 {
  margin-left: 40%;
  z-index: 9 ;
}

.proj-3 {
  width: 60%;
  margin-left: auto;
  margin-right: -5rem;
  margin-top: 25rem;
}

.proj-5 {
  padding-bottom: 10rem;
}

.-margin-top {
  margin-top: -300px;
}

.red {
  border: 2px solid red;
}

#contact-section {
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#contact-closer {
  justify-content: center;
  align-items: center;
}

.magic {
  font-size: 3rem;
  text-align: center;
}

#socials {
  filter: opacity(0.7);
  padding-top: 10%;
  line-height: 30px;
  justify-content: space-evenly;
}

.links {
  padding-right: 20px;
}

.copyright {
  padding-left: 50%;
}

.copyright-center {
  text-align: center;
  filter: opacity(0.7);
  position: fixed;
  bottom: 0;
  left: -50%;
  right: -50%;
}

.copyright, .copyright-center {
  font-size: 12px;
}

#collab {
  padding-top: 10%;
  width: 100%;
}

.collab-desc {
  line-height: 2rem;
  width: 70%;
}

.collab-tools {
  width: 100%;
}

.label-contact {
  color: var(--gray);
  padding-bottom: 5px;
  padding-top: 10px;
}

.display-img {
  max-width: 1200px;
  max-height: 1128px;
  scale: 0.85;
  margin-left: 20rem;
  margin-top: -15rem;
  
}

.tools {
  padding-left: 40px;
  width: 30%;
}

.tool-list {
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0;
  width: 50%;
}

#about-intro {
  position: relative;
  margin-top: -1%;
  z-index: 5;
}

#about-title {
  font-size: 3.5rem;
  padding-top: 15%;
}

.about {
  position: absolute;
  z-index: 9;
  width: 90%;
}

.about-desc {
  width: 40%;
  line-height: 2rem;
}

#experience {
  z-index: 5;
  background-color: var(--white);
  margin-top: -10%;
  padding-top: 15%;
  padding-bottom: 8rem;
}

td {
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.exp-small {
  font-size: 0.9rem;
  color: var(--gray);
} */

/*************************************/
/************** TABLET ***************/
/*************************************/

/* @media screen
and (min-width: 481px)
and (max-width: 820px) {
  
  html {
    overflow-x: hidden;
  }

  .doc-padding {
    padding-left: 100px;
    padding-right: 100px;
  }

  .btn-text {
      padding: 5px 20px;
      border-radius: 50px;
      font-size: 10.3rem;
  }
  
  .proj-btn {
    margin-left: 30px;
    font-size: 2.2rem;
  }
  
  .primary-btn, .secondary-btn, .collab-btn {
      padding: 15px 25px;
      margin: 5px;
      transition: all 0.5s;
  }
  
  
  .secondary-btn span::after {
    top: 0px;
    margin-right: -14px;
  }
  
  .collab-btn span::after {
    top: -1.5px;
    margin-right: -15px;
  }
  
  .down-btn {
    scale: 0.5;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .rounded {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .doc-margin {
    margin-left: 20%;
    margin-right: 0;
  }
  
  #intro-section {
    height: 80vh;
    width: 10vw;
  }
  
  #intro {
    padding-top: 80px;
      font-size: 2.6rem;
  }

  #intro-btns {
    padding-top: 20px;
  }

  .highlighter-2 {
    padding: 0 12px 5px 4px;
  }
  
  .down-btn {
    margin-top: 50px;
  }
  
  #proj-container {
    margin-top: -25%;
    display: flex;
    flex-direction: column;
    width: 110vw;
  }
  
  .first-proj {
    padding-top: 100px;
  }
  
  .project-header {
    position: relative;
  }
  
  .proj-title, .proj-num {
    position: absolute;
    width: 70vw;
  }
  
  .proj-title {
    font-size: 3.4rem;
    margin-left: 6rem;
  }
  
  .proj-num {
    font-size: 10rem;
  }
  
  .proj-text {
    margin-top: 75%;
  }
  
  .proj-description {
    padding-top: 14rem;
    padding-left: 30px;
    font-size: 1.7rem;
    width: 75vw;
    line-height: 35px;
  }
  
  .proj-1 {
    width: auto;
    max-width: 1000px;
    max-height: 707px;
    z-index: 2;
    height: auto;
    margin-left: -32%;
    margin-right: 0;
  }

  #proj {
    flex-direction: column;
  }
  
  .project-2 {
    padding-top: 20rem;
    padding-bottom: 100vw;
  }
  
  .proj-2 {
    padding-top: 90%;
    width: 100%;
    margin-left: -5%;
  }
  
  .proj-text-2 {
    padding-top: 90%;
    margin-left: 0;
    z-index: 9;
  }
  
  .proj-3 {
    width: 100vw;
    margin-left: -12%;
    margin-top: 10rem;
    z-index: 30;
  }

  .proj-text-4 {
    padding-top: 35rem;
    margin-left: 0;
  }
  
  .proj-5 {
    padding-bottom: 50rem;
    width: 85vw;
  }

  #proj-text-5 {
    padding-top: 12rem;
  }
  
  #contact-section {
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #contact-closer {
    justify-content: center;
    align-items: center;
  }
  
  .magic {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials {
    filter: opacity(0.7);
    padding-top: 20%;
    line-height: 30px;
    justify-content: space-evenly;
    font-size: 1.5rem;
    
  }
  
  .links {
    padding-right: 40px;
  }
  
  .copyright {
    padding-left: 20%;
  }
  
  .copyright-center {
    left: -57%;
    right: -55%;
    padding-bottom: 20px;
  }
  
  .copyright, .copyright-center {
    font-size: 18px;
    margin-top: 50px;
  }
  
  #collab {
    padding-top: 10%;
    width: 100%;
    flex-direction: column;
  }
  
  .collab-desc {
    line-height: 2rem;
    width: 70%;
    font-size: 20px;
    padding-bottom: 2rem;
  }
  
  .collab-tools {
    width: 100%;
    font-size: 20px;
  }
  
  .label-contact {
    padding-bottom: 15px;
    padding-top: 20px;
    font-size: 20px;
  }
  
  .display-img {
    max-width: 1200px;
    max-height: 1128px;
    scale: 0.85;
    margin-left: 20rem;
    margin-top: -15rem;
    
  }
  
  .tools {
    padding-left: 60px;
    width: 50%;
  }
  
  .tool-list {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    padding-right: 10px;
  }
  
  #about-intro {
    position: relative;
    margin-top: -1%;
    z-index: 5;
  }
  
  #about-title {
    font-size: 3.5rem;
    padding-top: 15%;
  }
  
  .about {
    position: absolute;
    z-index: 9;
    width: 90%;
  }
  
  .about-desc {
    width: 40%;
    line-height: 2rem;
  }
} */




/*************************************/
/************** MOBILE ***************/
/*************************************/

/* @media screen
and (min-width: 481px)
and (max-width: 820px) {
  
  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    position: relative;
  }

  .doc-padding {
    padding-left: 24px;
    padding-right: 24px;
  }

  .btn-text {
      padding: 5px 20px;
      border-radius: 50px;
      font-size: 1.3rem;
  }
  
  .proj-btn {
    margin-left: 30px;
    font-size: 2.2rem;
  }
  
  .primary-btn, .secondary-btn, .collab-btn {
      padding: 15px 25px;
      margin: 5px;
      transition: all 0.5s;
  }
  
  .collab-btn span::after {
    content: '\276F';
  }
  
  
  .secondary-btn span::after {
    top: 0px;
    margin-right: -14px;
  }
  
  .collab-btn span::after {
    top: -1.5px;
    margin-right: -15px;
  }
  
  .down-btn {
    scale: 0.5;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .rounded {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
  .drop-shadow {
    filter: drop-shadow(0 4rem 7rem rgba(39, 39, 39, 0.3));
  }
  
  .doc-margin {
    margin-left: -3%;
    margin-right: -1%;
  }
  
  #intro-section {
    height: 80vh;
    width: 85vw;
  }
  
  #intro {
    padding-top: 80px;
      font-size: 2.6rem;
      width: 100%;
  }

  #intro-btns {
    padding-top: 20px;
  }

  .highlighter-2 {
    padding: 0 12px 5px 4px;
  }
  
  .down-btn {
    margin-top: 50px;
  }
  
  #proj-container {
    margin-top: -25%;
    display: flex;
    flex-direction: column;
    width: 110vw;
  }
  
  .first-proj {
    padding-top: 100px;
  }
  
  .project-header {
    position: relative;
  }
  
  .proj-title, .proj-num {
    position: absolute;
    width: 70vw;
  }
  
  .proj-title {
    font-size: 3.4rem;
    margin-left: 6rem;
  }
  
  .proj-num {
    font-size: 10rem;
  }
  
  .proj-text {
    margin-top: 75%;
  }
  
  .proj-description {
    padding-top: 14rem;
    padding-left: 30px;
    font-size: 1.7rem;
    width: 75vw;
    line-height: 35px;
  }
  
  .proj-1 {
    width: auto;
    max-width: 1000px;
    max-height: 707px;
    z-index: 2;
    height: auto;
    margin-left: -32%;
    margin-right: 0;
  }

  #proj {
    flex-direction: column;
  }
  
  .project-2 {
    padding-top: 20rem;
    padding-bottom: 100vw;
  }
  
  .proj-2 {
    padding-top: 90%;
    width: 100%;
    margin-left: -5%;
  }
  
  .proj-text-2 {
    padding-top: 90%;
    margin-left: 0;
    z-index: 9;
  }
  
  .proj-3 {
    width: 100vw;
    margin-left: -12%;
    margin-top: 10rem;
    z-index: 30;
  }

  .proj-text-4 {
    padding-top: 35rem;
    margin-left: 0;
  }
  
  .proj-5 {
    padding-bottom: 50rem;
    width: 85vw;
  }

  #proj-text-5 {
    padding-top: 12rem;
  }
  
  #contact-section {
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #contact-closer {
    justify-content: center;
    align-items: center;
  }
  
  .magic {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials {
    filter: opacity(0.7);
    padding-top: 20%;
    line-height: 30px;
    justify-content: space-evenly;
    font-size: 1.5rem;
    
  }
  
  .links {
    padding-right: 40px;
  }
  
  .copyright {
    padding-left: 20%;
  }
  
  .copyright-center {
    left: -57%;
    right: -55%;
    padding-bottom: 20px;
  }
  
  .copyright, .copyright-center {
    font-size: 18px;
    margin-top: 50px;
  }
  
  #collab {
    padding-top: 10%;
    width: 100%;
    flex-direction: column;
  }
  
  .collab-desc {
    line-height: 2rem;
    width: 70%;
    font-size: 20px;
    padding-bottom: 2rem;
  }
  
  .collab-tools {
    width: 100%;
    font-size: 20px;
  }
  
  .label-contact {
    padding-bottom: 15px;
    padding-top: 20px;
    font-size: 20px;
  }
  
  .display-img {
    max-width: 1200px;
    max-height: 1128px;
    scale: 0.85;
    margin-left: 20rem;
    margin-top: -15rem;
    
  }
  
  .tools {
    padding-left: 60px;
    width: 50%;
  }
  
  .tool-list {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    padding-right: 10px;
  }
  
  #about-intro {
    position: relative;
    margin-top: -1%;
    z-index: 5;
  }
  
  #about-title {
    font-size: 3.5rem;
    padding-top: 15%;
  }
  
  .about {
    position: absolute;
    z-index: 9;
    width: 90%;
  }
  
  .about-desc {
    width: 40%;
    line-height: 2rem;
  } 
} */