/*************************************/
/************** MOBILE ***************/
/*************************************/

:root {
  background-color: #ebebeb;
  font-family: 'Inter', sans-serif;
  --dirty-white: #ebebeb;
  --white: #fff;
  --black: #272727;
  --gray: #868686;
  --highlight: #a7c6ee;
  --highlight2: #afe3d9;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: sticky;
}

.doc-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.doc-margin {
  margin-left: -3%;
  margin-right: -3%;
}

.bold {
    font-weight: bold;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.bg-dirtywhite {
  background-color: var(--dirty-white);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.white {
  color: var(--white);
}

.small {
  margin-top: -0.8rem;
  font-size: 0.8rem;
  opacity: 0.6;
  padding-bottom: 2rem;
}

#logo {
  width: 50px;
  height: auto;
}

.horizontal-list {
  visibility: collapse;
}

a {
color: var(--black);
text-decoration: none;

}

a:hover {
  text-decoration: underline;
  font-weight: lighter;
  font-style: italic;
}

#intro-section {
  position: relative;
  z-index: 9;
  height: 110vh;
  margin-top: -2%;
  padding-top: 14%;
}

.menu {
  padding-left: 15%;
  padding-top: 5%;
  font-size: 2.5rem;
  color: var(--black);
}

#main-header, #logo {
  z-index: 99;
}

.header {
  width: 100%;
  margin-top: -1%;
  padding-bottom: 2rem;
  position: fixed;
  z-index: 99;
}

#burger-nav, #burger-menu {
  position: fixed;
}

#burger-nav {
  width: 4rem;
  height: 4rem;
  background-color: var(--black);
  top: 0;
  right: 24px;
  border-radius: 100%;
  transition: all ease 05ms;
  color: var(--white);
  font-size: 1.2rem;
}

#burger-nav:hover {
  cursor: pointer;
}

#burger-menu {
 width: 540px;
 height: 100vh;
 top: 0;
 z-index: 9999;
 padding-top: 5rem;
 visibility: collapse;
}

@keyframes slidein {
  0% {
    transform: translateX(500px);
}
100% {
    transform: translateX(0px);
}
}

@keyframes slideout {
  0% {
    transform: translateX(-500px);
}
100% {
    transform: translateX(500px);
}
  }

#menu-button {
  font-size: 4rem;
  width: 40%;
  border: none;
  margin-left: 35%;
  opacity: 0.5;
  background-color: transparent;
}

#menu-button:hover {
  opacity: 0.7;
  cursor: pointer;

}

.header, #burger-nav {
  margin-top: 4rem;
}

.clipboard {
  position: fixed;
  bottom: -30%;
  left: 26vw;
  color: var(--white);
  padding: 1rem 1.3rem;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 0.9rem;
  transition: 0.3s;
}

#intro {
  padding-top: 8rem;
  font-size: 2rem;
  width: 90%;
}

.highlighter-1 {
  background-color: var(--highlight2);
}

.highlighter-2 {
  background-color: var(--highlight);
}

.highlighter-1, .highlighter-2 {
  border-radius: 20% 12% 1% 24%;
  padding: 0 12px 5px 10px;
}

.down-btn {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#intro-btns {
  padding-top: 2rem;
  width: 100%;
}

.btn-text {
  text-transform: uppercase;
  border-radius: 50px;
}

.primary-btn, .secondary-btn, .collab-btn {
  padding: 1rem 1.2rem;
  transition: all 0.5s;
}

.primary-btn span, .secondary-btn span, .collab-btn span {
display: inline-block;
position: relative;
transition: 0.5s;
}

.primary-btn span::after {
content: '\274F';
}

.secondary-btn span::after {
content: '\2197';
}

.collab-btn span::after {
content: '\276F';
}

.primary-btn span::after {
top: -3px;
margin-right: -18px;
}

.secondary-btn span::after {
top: 0px;
margin-right: -14px;
}

.collab-btn span::after {
top: -3px;
margin-right: -15px;
}

.primary-btn span::after, .secondary-btn span::after, .collab-btn span::after {
position: absolute;
opacity: 0;
right: -5px;
transition: 0.5s;
}

.primary-btn:hover, .secondary-btn:hover, .collab-btn:hover {
padding-right: 55px;
cursor: pointer;
}

.primary-btn:hover span::after, .secondary-btn:hover span::after, .collab-btn:hover span::after {
opacity: 1;
right: 0;
}

.primary-btn, .collab-btn {
border: 1px solid var(--dirty-white);
color: var(--white);
background-color: var(--black);
margin-right: 0.4rem;
}

.secondary-btn {
border: 1px solid var(--black);
color: var(--black);
background-color: var(--dirty-white);
}

.down-btn {
scale: 0.3;
justify-content: center;
align-items: center;
transition: 0.5s;
}

.down-btn:hover {
padding-bottom: 30px;
transition: 0.5s;
}

.rounded {
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}

.drop-shadow {
filter: drop-shadow(0 4rem 7rem rgba(39, 39, 39, 0.3));
}

#proj-section {
  margin-top: -15%;
  padding-top: 0;
  padding-bottom: 40%;
}

.proj-img {
  width: 100%;
  height: auto;
  padding-top: 50%;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: 0.3s;
}

.proj-img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.proj-block, .proj-textblock {
  flex-direction: column;
}
.proj-textblock {
  z-index: 99;
}
.proj-title {
  font-size: 2rem;
  padding-bottom: 1.3rem;
  margin-bottom: 0;
}

.proj-description {
  width: 100%;
  padding-top: 1rem;
  margin-top: 0;
  padding-bottom: 1rem;
  line-height: 1.8rem;
}

.proj-btn {
  color: var(--black);
  font-size: 1.2rem;
  border: none;
  width: 14ch;
  }

.magic {
  padding-top: 3rem;
  font-size: 1.9rem;
  text-align: center;
}

#socials {
  filter: opacity(0.7);
  padding-top: 30%;
  line-height: 30px;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

.links {
  padding-right: 10px;
}

.copyright {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.copyright-center {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.copyright, .copyright-center, .copyright-about {
  font-size: 12px;
  filter: opacity(0.5);
}

.copyright-about {
  margin-left: 20%;
}

#collab {
  padding-top: 10%;
  width: 100%;
  flex-direction: column;
}

#collab-title, #about-title {
  padding-top: 10rem;
  font-size: 3rem;
  width: 90%;
}

.about-desc {
  font-size: 0.9rem;
  /* line-height: 1.5rem; */
}

.collab-desc, .about-desc {
  line-height: 1.5rem;
  width: 90%;
  padding-bottom: 5rem;
}

.collab-tools {
  width: 100%;
  flex-direction: column;
  
}

.label-contact {
  color: var(--gray);
  padding-bottom: 5px;
  padding-top: 20px;
  
}

.tools {
  width: 100%;
}

#contact-closer {
  justify-content: center;
  align-items: center;
}


.display-img {
  visibility: hidden;
  
}

.tool-list {
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0;
  width: 50%;
}

#about-intro {
  position: relative;
  margin-top: -1%;
  z-index: 5;
  height: 130vh;
  
}

.about {
  position: absolute;
  z-index: 9;
  width: 90%;
}

#experience {
  z-index: 5;
  background-color: var(--white);
  margin-top: -25%;
  padding-top: 15%;
  padding-bottom: 4rem;
}

table {
  font-size: 0.8rem;
  padding-left: 1rem;
}

td {
  width: 100%;
  padding-left: 0.1rem;
  padding-bottom: 1rem;
  padding-top: 0.8rem;
  padding-right: 2rem;
}

.exp-small {
  visibility: collapse;
  font-size: 0%;
}

.project-header {
  position: relative;
  width: 100vw;
  height: 70%;
  margin-top: -2%;
  margin-left: -2%;
  z-index: 9;
}

.header-img {
  opacity: 0.6;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.proj-deets {
  padding-bottom: 5%;
}

.deets-title {
  font-size: 2.2rem;
}

.deets-text {
  padding-top: 1rem;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.deets-footer {
  padding-top: 15%;
  justify-content: space-between;
}

.img-deets-container {
  justify-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.prototype {
  font-size: 1rem;
  font-style: italic;
  padding: 1rem 0;
  width: 30ch;
  margin-bottom: 2rem;
}

.img-deets {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {

} */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {

.doc-padding {
  padding-left: 80px;
  padding-right: 80px;
}

.doc-margin {
  margin-left: -2%;
  margin-right: -2%;
}

.horizontal-list {
  visibility: visible;
  position: fixed;
  right: 0%;
  padding-right: inherit;
  gap: 30px;
  text-transform: uppercase;
}

#intro-section {
  height: 100vh;
  padding-top: 15%;
}

.header {
  width: 220vh;
}

#burger-nav {
  visibility: hidden;
}

.clipboard {
  left: 35%;
}

#intro {
  font-size: 3rem;
}

.clipboard {
  left: 40%;
}

.down-btn {
  width: 300px;
}

.primary-btn, .secondary-btn, .collab-btn {
  padding: 1rem 2.5rem;
  font-size: 1rem;
}

.secondary-btn {
  margin-left: 1.3rem;
}

.rounded {
border-bottom-left-radius: 100px;
border-bottom-right-radius: 100px;
}

#proj-section {
  margin-top: -15%;
  padding-top: 0;
  padding-bottom: 40%;
}

.proj-img {
  padding-top: 30%;
  margin-bottom: -5%;
}

.proj-title {
  font-size: 3rem;
}

.proj-description {
  line-height: 1.9rem;
}

.proj-btn {
  font-size: 1.6rem;
  }

.magic {
  padding-top: 8rem;
  font-size: 3rem;
}

#socials {
  line-height: 35px;
  font-size: 1rem;
}

.links {
  padding-right: 15px;
  z-index: 99;
}

.copyright {
  justify-content: flex-end;
  padding-top: 0;
  margin-top: -6.3%;
  z-index: 9;
  margin-left: 50%;
}

.copyright, .copyright-center, .copyright-about {
  font-size: 12px;
  filter: opacity(0.5);
}

.copyright-about {
  margin-left: 5%;
}

#collab {
  padding-top: 10%;
  width: 80%;
}

#collab-title, #about-title {
  padding-top: 4rem;
  font-size: 3rem;
}

.collab-desc, .about-desc {
  padding-bottom: 3rem;
}

.about-desc {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.collab-tools {
  flex-direction: row;
}

.tools {
  padding-left: 10%;
}

.tool-list {
  padding: 0 10px;
}

#contact-closer {
  justify-content: center;
  align-items: center;
}


.display-img {
  visibility: visible;
  position: absolute;
  scale: 0.6;
  top: -40%;
  left: -40%;
}

#about-intro {
  position: relative;
  margin-top: -1%;
  padding-top: 10%;
  z-index: 5;
  height: 100vh;
}

#about-title, .about-desc {
  width: 50%;
}

#experience {
  margin-top: -25%;
  padding-top: 15%;
  padding-bottom: 4rem;
}

table {
  padding-left: 0;
}

td {
  width: 50%;
  padding-top: 0.7rem;
  padding-left: 0rem;
  padding-right: 0;
}

.exp-small {
  font-size: 0rem;
}

.exp-type {
  width: 20%;
}

.project-header {
  width: 100vw;
  height: 20rem;
  margin-left: -1%;
  margin-right: 0;
}

.proj-deets {
  padding-top: 10%;
}

.deets-title {
  font-size: 3.8rem;
}

.deets-footer {
  padding-top: 15%;
  font-size: 1.8rem;
  justify-content: space-between;
}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  .doc-padding {
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .doc-margin {
    margin-left: -1%;
    margin-right: -1%;
  }
 
  .horizontal-list {
    gap: 40px;
  }

  #logo {
    width: 60px;
    height: auto;
  }

  #intro {
    font-size: 2.9rem;
    width: 100%;
  }

  .down-btn {
    width: 300px;
  }
  
 
  .rounded {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  }
  
  #proj-section {
    padding-bottom: 30%;
  }
  
  
  .magic {
    padding-top: 3.5rem;
    font-size: 3.5rem;
  }
  
  #socials {
    padding-top: 10%;
    line-height: 30px;
    font-size: 1rem;
  }
  
  .links {
    padding-right: 30px;
  }
  
  .copyright {
    padding-top: 18px;
  }
  
  .copyright-center {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .copyright, .copyright-center, .copyright-about {
    font-size: 13px;
  }
  
  .copyright-about {
    margin-left: 20%;
  }
  
  #collab {
    padding-top: 10%;
    width: 100%;
  }

  #about-title {
    width: 60%;
  }

  #collab-title {
    width: 80%;
  }
  
  #collab-title, #about-title {
    padding-top: 4rem;
    font-size: 3.6rem;
  }
  
  .collab-desc, .about-desc {
    line-height: 2rem;
    width: 60%;
    padding-bottom: 3rem;
  }
  
  .collab-tools {
    flex-direction: row;
  }
  
  .label-contact {
    padding-bottom: 10px;   
  }
  
  .tool-list {
    font-size: 0.9rem;
    line-height: 25px;
  }

  table {
    font-size: 1rem;
    padding-left: 1.5rem;
  }
  

  td {
    width: 35%;
  }

  .display-img {
    visibility: visible;
    scale: 0.6;
    top: -45%;
    left: -20%;
  }

  .exp-small {
    /* font-size: 0.8rem; */
    visibility: collapse;
    /* font-size: 0%; */
  }
  

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .doc-padding {
    padding-left: 90px;
    padding-right: 90px;
  }

  .horizontal-list {
    gap: 50px;
  }

  #intro-section {
    height: 140vh;
  }

  #intro {
    font-size: 3rem;
  }
  
  #proj-section {
    margin-top: -15%;
    padding-top: 20%;
    padding-bottom: 40%;
    flex-direction: column;
  }
  
  .proj-img {
    width: 50%;
    height: 50%;
    padding-top: 0%;
    margin-left: -5%;
  }

  .proj-block {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 15rem;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .proj-textblock {
    width: 50%;
    padding-top: 1rem;
    padding-right: 4rem;
  }

  .proj-title {
    font-size: 3rem;
    /* padding-bottom: 1.3rem; */
  }
  
  .proj-description {
    /* width: 100%;
    padding-top: 0;
    margin-top: 0; */
    padding-bottom: 1rem;
  }
  
  .proj-btn {
    font-size: 1.2rem;
    }
  
  #socials {
    padding-top: 15%;
    line-height: 30px;
    font-size: 1rem;
  }
  
  .links {
    padding-right: 30px;
    padding-bottom: 40px;
  }
  
  .copyright {
    padding-top: 35px;
  }
  
  .copyright-center {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .copyright-about {
    margin-left: 40%;
  }
  
  .collab-desc {
    width: 90%;
  }
  
  .tool-list {
    font-size: 1rem;
  }

  table {
    font-size: 1rem;
    padding-left: 0;
  }
  

  td {
    width: 15%;
  }

  .display-img {
    scale: 0.7;
    top: -20%;
    left: 1%;
  }

  #about-intro {
    height: 120vh;
  }

  #collab-title {
    width: 50%;
  }

  #about-title, .about-desc {
    width: 50%;
  }

  #experience {
    margin-top: -10rem;
    /* padding-bottom: 5rem; */
  }

  .exp-small {
    font-size: 0.9rem;
    width: 50%;
    padding-right: 1rem;
    visibility: visible;
    font-size: 0.8rem;
  }

  .deets-text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 1400px) {

  #intro-section {
    height: 100vh;
  }

  #intro {
    font-size: 3.5rem;
    width: 70%;
    padding-top: 0%;
  }

  .clipboard {
    left: 44%;
  }

  .down-btn {
    padding-top: 0px;
  }

  #proj-section {
    padding-top: 10%;
    padding-bottom: 20%;
  }

  .proj-block {
    padding-top: 17rem;
  }

  .proj-textblock {
    padding-top: 3rem;
  }

  .proj-title {
    font-size: 3.2rem;
  }
  
  .proj-description {
    /* width: 100%;
    padding-top: 0;
    margin-top: 0; */
    padding-bottom: 1rem;
  }
  
  .proj-btn {
    font-size: 1.2rem;
    }

  .copyright {
    padding-top: 55px;
  }

  .copyright-about {
    margin-left: 50%;
  }

  .copyright-center {
    padding-top: 150px;
  }

  #collab {
    padding-top: 10%;
    width: 100%;
    flex-direction: row;
  }

  #collab-title, #about-title {
    padding-top: 1rem;
    font-size: 3.6rem;
    width: 70%;
  }
  
  .collab-desc {
    width: 75%;
  }

  .collab-tools {
    margin-left: -8%;
  }
  
  .tool-list {
    font-size: 0.8rem;
  }

  table {
    font-size: 1rem;
    padding-left: 0;
  }
  

  td {
    width: 20%;
  }

  .display-img {
    scale: 0.7;
    top: -35%;
    left: 17%;
  }

  #about-intro {
    height: 90vh;
  }

  #about-title, .about-desc {
    width: 50%;
  }

  #experience {
    margin-top: -10rem;
    /* padding-bottom: 5rem; */
  }

  .exp-small {
    font-size: 0.9rem;
    width: 100%;
    padding-right: 2rem;
  }

  .proj-deets, .deets-footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }

}